h1,h2,h3,h4,h5,h6 {
  border:solid 1px hotpink;
  padding:5px;
}

div { 
  border:solid 1px darkblue;
  padding:5px;
}

span {
  border:solid 1px skyblue;
}

p { 
  border:solid 1px purple;
  padding:5px;
}

blockquote { 
  border:solid 1px brown;
  padding:5px;
  margin-top:3px;
  margin-bottom:3px;
}

td { 
  border:solid 1px tan;
}

pre { 
  border:solid 1px palegreen;
  padding:5px;
}

form { 
  border:solid 1px firebrick;
  padding:5px;
}
