/*
Title: chalow default
 */

/*
ページ全体の基本的な設定。背景色や文字色など
*/
body {
	background-color: White;
}

/*
リンク文字列に関する設定
*/
a:link {
        text-decoration: none;
}

a:visited {
        text-decoration: none;
}


/*
ページトップ (とか、下) にある操作ボタンの並ぶ行の設定
*/
.adminmenu {
        text-align: left;
        margin: 0em;
}

/*
日記タイトルの設定
*/
h1 {
	text-align: left;
        border-color: #ff80ff;
        border-style: solid;
        border-width: 1px 0 1px 0;
        padding: 0.5em;
}

/*
1日の日記全体を囲む枠の設定 (entry)
*/
div.day { 
        border-style: dotted;
        border-color: #ff80ff;
        border-width: 1px;
        padding: 1%;
        margin: 1%;  
}

/*
タイトル行全体の設定 (enrty header)
*/
h2 {
        margin: 0.0em 0.0em 0.5em 0.0em;
}

/*
日付の設定 (in enrty header)
*/
span.date {
        border-color: #ff80ff;
        border-style: solid;
        border-width: 1px 0 0 5px;
        padding: 0em 0.5em 0em 0.5em;
}

/*
タイトルを除いた1日の日記本文全体の設定 (items)
*/
div.body { 
        border-style: solid;
        border-color: #ffe0ff;
        border-width: 1px;
        padding: 0;
        margin: 0;
}

/*
item header の設定
*/
/* memo: tDiary だと h3。chalow でも設定によって h3 を出すことが可能 */
.clitemheader { 
        color: red;
	font-weight: bold;
	background-color: #ffe8ff;
        padding: 3px 0.5em 0px 0.5em;*/
/*        padding: 0.1em;*/
}

/*
イメージアンカーの設定
*/
div.day span.sanchor {
        background-image: url(check-tr.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        padding: 16px 16px 0px 0px;
        color: #fff;
        background-color: transparent;
        font-size: 1px;
}

/*
サブタイトルを含むセクション (item) の設定
*/
div.section { 
        border-color: #ffd0ff;
        border-style: solid;
        border-width: 1px;
	line-height: 130%;
        padding: 1%;
	margin: 1%;
}

/*
item 中の引用の設定
*/
div.body blockquote { 
        border-color: #808080;
        border-style: solid;
        border-width: 1px;
	background-color: #f0f0f0;
	font-size: 0.9em;
	line-height: 110%;
	margin: 1em;
	padding: 0.3em;
}

/*
各 item の pre の設定 (各 item は pre で囲まれている)
*/
div.body pre {
	font-family: monospace;
	white-space: pre;
	line-height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

div.body p {
	margin: 0;
	padding: 0;
}

/*
カレンダーの設定
*/
.calendar {
	background-color: #fff8ff;
        font-size: x-small;

/*
        text-align: right;
	background-color: #ffe8ff;
	line-height: 130%;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0.2em 2em 0.2em 2em;
*/
}

/*
フッタの設定 (一番下の chalow のロゴ)
*/
.footer {
	text-align: right;
	font-size: x-small;
	margin: 0em;
}

p.footer a {
	font-weight: bold;
}

/* ツッコミ関連 */

div.comment {
        border-style: solid;
        border-color: #ffd0ff;
        border-width: 1px;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 0.9em;
        background-color: #fff0ff;
}

div.comment p {
	margin: 0.5em;
}

div.day span.canchor {
        background-image: url(check-tr.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        padding: 16px 16px 0px 0px;
        color: #fff;
        background-color: transparent;
        font-size: 1px;
}

div.form {
        border-style: solid;
        border-color: #ffd0ff;
        border-width: 1px;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #fff0ff;
}

div.commentshort {
        margin: 0.3em;
}

div.commentbody {

}




/*
いろいろ
*/
img {
	margin: 2px;
}

p {
        margin-right: 10pt;
        margin-left: 10pt;
}


/*
for chalow: Referrer by 日付リンク
*/
div .referer { 
  font-size: x-small;
  color: #808080;
  background-color: #fff0ff;
  margin-top: 0.5em;
  padding: 0.2em;
}
div .referer a:link {color: #404040;}
div .referer a:visited {color: #606060;}

/*
for chalow: author of item
*/
div .itemauthor { 
  text-align: right;
  padding: 0.3em 0 0 0;
}
div .itemauthor span {
  font-size: small;
  border-color: #ffb0ff;
  border-style: solid;
  border-width: 0px 5px 1px 0px;
  color: #606060;
}

#content {float: left; width: 70%}
#links {padding: 5px; margin: 5px;}
#links td {border: dotted 1px #808080; padding: 5px; font-size: x-small;}

